td	{font-size: 9pt; color: #000000;line-height:12pt;vertical-align: middle}

.t1	{  font-size: 9pt; color: #cc0000; line-height:14pt; font-weight: bold}
.t2	{  font-size: 8pt; color: #000000; line-height:11pt}
.t3	{  font-size: 9pt; color: #000000;line-height:14pt}
.UPWD_T	{  font-size: 9pt; color: #FF0000; line-height:11pt; font-weight: bold}
.UPWD_T2 {  font-size: 8pt; line-height:11pt}

.titleMsg0 	{  font-size:9pt; font-weight: bold; color:#000000;}
.titleMsg1 	{  font-size:9pt; font-weight: bold; color:#0000CC;}
.titleQueryTime	{  font-size:9pt; color:#0000CC;}


.header0{  font-size:9pt; vertical-align:bottom}
.header1{  font-size:9pt; color:#0000CC}

<!--
input.inputWhite{border:1px solid #000000; background-color:#FFFFFF; font-family: Arial; font-size: 8pt; vertical-align: bottom}
-->

select	{vertical-align: middle}
input	{font-size: 8pt; vertical-align: middle}
a	{font-family:新細明體; font-size:12px;}
div	{font-family:新細明體; font-size:12px;}
a:hover {  color: #000000; text-decoration: underline}
body { font-size: 9pt; color: #000000;line-height:12pt } 
form { font-size: 9pt; color: #000000;line-height:12pt } 
p { font-size: 9pt; color: #000000;line-height:12pt } 
select { font-size: 9pt; color: #000000;line-height:12pt } 
.border1{
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        }
img {cursor: hand}

