<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>code1</display-name>
  <context-param>
    <param-name>Part1</param-name>
    <param-value>Servlet</param-value>
  </context-param>
  <context-param>
    <param-name>Part2</param-name>
    <param-value>JSP</param-value>
  </context-param>
  <context-param>
    <param-name>Part3</param-name>
    <param-value>Database</param-value>
  </context-param>
  <context-param>
		<param-name>p1</param-name>
		<param-value>Servlet</param-value>
	</context-param>

	<context-param>
		<param-name>p2</param-name>
		<param-value>JSP</param-value>
	</context-param>

	<context-param>
		<param-name>p3</param-name>
		<param-value>DB,資料庫</param-value>
	</context-param>
	
	

	
	
	<filter>
		<filter-name>F811</filter-name>
		<filter-class>code.filter.F811</filter-class>
		
	</filter>
	<filter>
		<filter-name>F812</filter-name>
		<filter-class>code.filter.F812</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>F811</filter-name>
		<url-pattern>/*</url-pattern>
		
	</filter-mapping>

	<filter-mapping>
		<filter-name>F812</filter-name>
		<url-pattern>/S812</url-pattern>
		<url-pattern>/S813</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>S611</servlet-name>
		<servlet-class>code.servlet.S611</servlet-class>
		<multipart-config>
			<location>D:\jee-2018-09\eclipse\workspace\code1\code1\WebContent\upload</location>
			
			
			<max-file-size>20848820</max-file-size>
    		<max-request-size>418018841</max-request-size>
    		<file-size-threshold>1048576</file-size-threshold>
			
			
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>S611</servlet-name>
    		<url-pattern>/S611</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>S821</servlet-name>
		<servlet-class>code.servlet.S821</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>S821</servlet-name>
		<url-pattern>/S821</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>S813</servlet-name>
		<servlet-class>code.servlet.S813</servlet-class>

		<init-param>
			<param-name>P</param-name>
			<param-value>/pw</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>S813</servlet-name>
		<url-pattern>/S813</url-pattern>
	</servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>/j422.jsp</url-pattern>
      <scripting-invalid>true</scripting-invalid>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>S212</servlet-name>
    <servlet-class>code.servlet.S212</servlet-class>
    <init-param>
      <param-name>Day1</param-name>
      <param-value>第2周第1天是7/17/2018</param-value>
    </init-param>
    <init-param>
      <param-name>Day2</param-name>
      <param-value>第2周第2天是7/19/2018</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>S212</servlet-name>
    <url-pattern>/S212</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>